@{
    Layout = "";
}

<table width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td>
            <p><b>@ViewBag.orderId</b></p>
        </td>
    </tr>
</table>
<script>
    window.location.href = '/home/index';
</script>

